<html>
<head>
    <%- include("../head.ejs") %>
    <title>マイページ</title>
</head>
<body>
    <%- include("../header.ejs",{title:"マイページ"})%>

    <div class="content">
        <div style="width: 100%; height: 120px;background-color: #FFA610; margin-top: -5px;">
            <div class="ibtn btn" id="btn_getlink" style="margin: 0 auto; margin-top: 30px;">
                <img src="/img/clip.png" style="height:20px;margin-right: 10px" />
                <p class="o">回答用リンクを取得</p>
            </div>
        </div>

        <div class="row" style="padding:40px 0;">
            <div class="ibtn or">
                <p style="color:white; font-size: 15px;">＋ 投稿を作成</p>
                <a href="/create" class="link" ></a>
            </div>
        </div>

        <% var post_i = 0;%>
        <% for(var p of posts){ %>
            <% if(post_i==0 ) {%>
                <div class="row c">
                    <p class="g" style="width:calc(100% - 20px);margin-top: 20px;"><b>募集中の投稿</b></p>
                    <% p.link = "/mypage/"+p.guid %>
                    <%- include("../cell/post_y.ejs",p) %>
                    <!-- <div class="ibtn btn" id="btn_getlink">
                        <img src="/img/clip.png" style="height:20px;margin-right: 10px" />
                        <p class="o">回答用リンクを取得</p>
                    </div> -->

                    <script>
                        const MY_ANSWER_URL = "https://at-collect.net/res/<%= p.guid %>";
                        $("#btn_getlink").click(()=>{
                            copyToClip(MY_ANSWER_URL);
                            window.alert("URLをコピーしました。貼り付けてご利用ください。");
                            view.showShareMyUrlWd();
                        });
                    </script>
                </div>

                <div class="row c" style="margin-top:15px">
                    <p class="g" style="width:calc(100% - 20px);margin-top: 200px;"><b>過去の投稿</b></p>
                </div>
    
            <%}else{%>
                <% p.link = "/mypage/"+p.guid %>
                <%- include("../cell/post_y.ejs",p) %>
        <% } post_i++; } %>

        <% if(post_i<=1){ %>
                <p class="g row">投稿はありません</p>
        <% } %>

        
        <a class="row xs" href="/signout" style="color:blue;margin-top:20px;">ログアウト</a>
    </div>

    <%- include("../footer.ejs")%>

</body>
</html>