<html>
<head>
    <%- include("../head.ejs") %>
    <title>MyPage</title>
</head>
<body>
    <%- include("../header.ejs")%>

    <div class="bg_or" ></div>

    <div class="top_area">
        
        <div class="row">
            <div class="ibtn">
                <p style="color:orange">＋ 投稿を作成</p>
                <a href="/create" class="link" ></a>
            </div>
        </div>

        <div class="row">
            <div class="post" style="margin-top:5px;">
                <img src="/img/card_b.png" />
                <div class="message" style="flex-direction: column;">
                    <p>あなたの質問回答ページ</p> 
                    <!--<a class="b" href="https://at-collect.net/u/<%= user.id %>/" >https://at-collect.net/u/<%= user.id %>/</a> -->
                    <a class="b" href="/u/<%= user.id %>/" >https://at-collect.net/u/<%= user.id %>/</a>
                </div>
            </div>
        </div>

    </div>

    <div class="content pd">

        <div class="row" style="margin:5px 0;">
            <p style="color:gray">投稿一覧</p>
        </div>

        <% for(var p of posts){ %>
            <% p.link = "/mypage/"+p.guid %>
            <%- include("../cell/post_y.ejs",p) %>
        <% } %>

        
        <a href="/signout">LOGOUT</a>
    </div>

</body>
</html>