<html>
<head>
    <%- include("../head.ejs") %>
    <title>マイページ</title>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <link rel="stylesheet" href="/inst_view.css">
</head>
<body>
    <%- include("../header.ejs",{title:"自分への質問"})%>
    <%- include("../inst_view.ejs")%>
    <%- include("../popup.ejs")%>

    <div class="content" style="padding-bottom:120px">
        <div class="row" style="margin-top: -1px;padding:30px 0;background-color: orange;">
            <div class="ibtn btn" id="btn_getlink">
                <img src="/img/clip.png" style="height:20px;margin-right: 10px" />
                <p class="o">質問募集リンクを取得</p>
            </div>

            <script>

                const IMAGE_TEMPLATE = `
                    <img src="/img/q_temp.png" style="max-height:calc(100% - 100px);max-width:calc(100% - 100px);padding:50px;" />
                `

                const MY_ANSWER_URL = "https://at-collect.net/u/<%= user.id %>";
                $("#btn_getlink").click(()=>{
                    copyToClip(MY_ANSWER_URL);
                    viewPopUp(IMAGE_TEMPLATE);
                    setTimeout(()=>window.alert("回答用URLをコピーしました。画像をスクリーンショットまたは保存してSNSでシェアをしよう！"),100);
                });
            </script>
        </div>

        <div class="view_selecter" style="margin-top: 40px;margin-bottom: 50px;">
            <p class="col nocheck active" style="font-weight: bold;" type="nocheck">未回答</p>
            <p class="col checked"style="font-weight: bold;" type="checked">回答済み</p>
        </div>

        <p class="row" style="position:fixed;left:0px;bottom:70px;z-index:2;">
            <input type="button" class="ibtn" style="background-color: #12293E; color: white; width: 50%; height: 60px; border-radius: 30px;" value="まとめて回答する" onclick="instRenderAll('nocheck')" />
        </p>

        <div class="view_aria" id="nocheck">

            <% for(var p of nocheck){ %>

                <div class="row c _post" id="<%= p.guid %>" style="transition: all .5s">
                    <div class="post sw" style="top:0;z-index: 1;" guid="<%= p.guid %>">
                        <img src="/img/card_b.png" />
                        <div class="message">
                            <p><%= p.message %></p>
                        </div>
                    </div>
                    
                    <script>
                    
                        $("#<%= p.guid %>_btn").click(async()=>{
                            const guid = "<%= p.guid %>";
                            const message = "<%= p.message %>";
                            const reply = $(`#${guid}_tx`).val();
                            if(!reply) return;
                            moveToChecked($(`#${guid}`),message,reply);
                            if(!await ac.sendAnswer(guid,reply)) window.alert("不明なエラーが発生しました。何度も同じエラーが出る場合、お問い合わせから報告ください。");
                        })

                    </script>

                    <div class="tools">
                    
                        <div class="icon rem">
                            <img src="/img/delete_icon.png" class="fill btn" onclick="pushRemove($('#<%= p.guid %>'),'<%= p.guid %>')"/>
                        </div>
                    
                        <div class="icon ins">
                            <img src="/img/ins_icon.png" class="fill btn" 
                                onclick="$('#<%= p.guid %>').removeClass('open');
                                    viewInst($('#<%= p.guid %> .post').prop('outerHTML'),()=>instOnClickChecked(['<%= p.guid %>']));"/> <!--View Inst-->
                        </div>
                    </div>
                </div>

            <% } %>
            <script>         
                async function pushRemove(jObj,qid){
                    $(jObj).addClass("trans")
                    setTimeout(()=>$(jObj).remove(),500);
                    if(!await ac.removeQuestion(qid)) window.alert("エラー");
                }
                
                function moveToChecked(jObj,message,reply){
                    const TEMPLATE = `
                    <div class="post_with open">
                        <div class="post sw" style="top:0;z-index: 1;">
                            <img src="/img/card_b.png" />
                            <div class="message">
                                <p>${message}</p>
                            </div>
                        </div>
                        <div class="post" style="bottom:0;">
                            <img src="/img/card_y.png"/>
                            <div class="message">
                                <p style="margin-top:20px">${reply}</p>
                            </div>
                        </div>
                    </div>
                    `;
                    jObj.addClass("trans");
                    $("#checked").prepend(TEMPLATE);
                    /*
                    $(".post_with .sw").click(function(){
                        $(this).parent().hasClass("open") ? $(this).parent().removeClass("open") : $(this).parent().addClass("open");
                    })
                    */
                    setTimeout(()=>{
                        jObj.remove();
                    },500);
                }

                function instRenderAll(target){ // target "nocheck" or "checked"
                    if($("#"+target+" ._post").length<=0) return window.alert("質問がまだありません。「みんなの質問」から回答しましょう！");
                    var html = "";
                    var qids = [];
                    var count = 5;
                    for(const obj of $("#"+target+" ._post .post")){
                        count--;
                        if(count<0) continue;
                        const guid = $(obj).attr("guid");
                        qids.push(guid);
                        $(obj).removeClass('open');
                        html += $(obj).prop('outerHTML');
                    }
                    viewInst(html,()=>instOnClickChecked(qids));
                }

            </script>
        </div>

        <div class="view_aria none" id="checked">
            <% for(var p of checked){ %>

                <div class="post_with">
                    <div class="post sw" style="top:0;z-index: 1;">
                        <img src="/img/card_b.png" />
                        <div class="message">
                            <p><%= p.message %></p>
                        </div>
                    </div>
                    <div class="post" style="bottom:0;">
                        <img src="/img/card_y.png"/>
                        <div class="message">
                            <p style="margin-top:20px"><%= p.reply %></p>
                        </div>
                    </div>
                </div>
                
            <% } %>
        </div>

    </div>
    
    <script>
        async function instOnClickChecked(qids){
            await ac.sendCheckedQuestion(qids);
            location.href="/myquestion";
        }

        $(".view_selecter p").click(function(){
            const id = $(this).attr("type");
            $(".view_selecter p").removeClass("active");
            $(".view_selecter ."+id).addClass("active");

            if(id=="checked"){
                $("#checked").removeClass("none");
                $("#nocheck").addClass("none");
            }else{
                $("#checked").addClass("none");
                $("#nocheck").removeClass("none");
            }
        });
    /*
        $(".post_with .sw").click(function(){
            $(this).parent().hasClass("open") ? $(this).parent().removeClass("open") : $(this).parent().addClass("open");
        })
    */
    </script>

    <%- include("../footer.ejs")%>

</body>
</html>